@font-face {
    font-family:Obitron-medium;
    src: url('../fonts/orbitron-medium.otf');
}

@font-face {
   font-family:Obitron-light;
   src: url('../fonts/orbitron-light.otf');
}

@font-face {
   font-family:Dekar;
   src: url('../fonts/Dekar.otf');
}
