$font-stack: 'Ubuntu', Helvetica, Verdana, sans-serif;
$max-width: 1024px;

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/_xyN3apAT_yRRDeqB3sPRg.woff) format('woff');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/0ihfXUL2emPh0ROJezvraD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

BODY {
    font: {
        family: $font-stack;
        size: 0.8em;
    }

    margin: 20px 40px;
    max-width: $max-width;
}

P {
    margin: 5px 0 0 0;
    line-height: 1.7em;
}

A, A:visited, A:active {
    text-decoration: none;
    color: black;
}

H1 {
    font-size: 1.25em;
    margin: 0;
}

H2 {
    font-size: 1em;
    margin: 0;
}

H3 {
    font-size: 1em;
    margin: 5px 0;
}

DIV.section {
    margin: 35px 0;
}

.qr {
    float: right;
    width: 60px;
}

.myName {
    float: left;
    margin-right: 15px;
    letter-spacing: 3px;
    font-size: 1.5em;
    margin: 0 10px 10px 0;
}

@media screen and (max-width: 350px) {
    .myName, .qr { 
        float: none; 
    }
}

.contactInfo {
    float: left;
    margin: 0;
    padding: 0;
    border-left: 1px solid #CCC;
    padding: 0 5px;

    UL {
        margin: 0;
        padding: 0;
    }

    LI {
        list-style: none;
        margin-bottom: 5px;
    }
}

.section UL {
    list-style: square;
    list-style-position: outside;
    color: #CCC;
    margin: 2px 0;
    padding: 0 20px;

     LI {
        margin: 15px 0;
        line-height: 1.5em;
    }

    SPAN {
        color: #000;
    }
}


.jobSection {
    margin: 25px 0;

    UL {
        border-top: 1px solid #CCC;
    }
}

.jobDetails{
    float: left;
}

.jobMeta, .jobLocation, .timeFrame {
    float: right;
}

@media screen and (max-width: 720px) {
    .jobDetails, .jobMeta, .jobLocation, .timeFrame {
        float: none;
    }
}

.clear {
    clear: both;
}

@media print {
    .pagebreak {
        page-break-after: always; 
    }
}
