BODY, HTML {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

BODY {
    background: #000;
}

TEXTAREA {
    width: 100%;
    height: 100%;
    padding: 5px;
    border: none;
    background: #000;
    color: #FFF;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: small;
}
